footer {
	min-height: $footerHeight;
	display: flex;
	align-items: center;


	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;

		@media $medium {
			justify-content: space-between;
		}
	} /* container */

	img {
		width: 30px;
		height: 27px;
		margin-bottom: -15px;

		@media $medium {
			width: 20px;
			height: 18px;
			margin-bottom: -7px;
		}
	} /* img */

	a,p {
		font-size: $fontSizeSmall;
		margin: 0;
	}
	
	a {
		border-bottom: 1px dotted;
	}

	p {
		margin: 10px 0;
		@media $medium {
			order: 1
		}
	}

	div {
		margin: 20px 0 10px 0;
		
		@media $medium {
			margin: 0;
		}

	}

	div:last-of-type {
		@media $medium {
			order: 2;
		}
	}


	
} /* Footer */